* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 450px;
  height: 50px;
  font-weight: 600;
  text-align: center;
  color: black;
  margin-left: 2vw;
  border: 1px solid #333333;
}

.logo a {
  text-decoration: none;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
  padding: 0 5vw;
}


.user-nickname {
  font-size: 25px;
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: 400;
}


.logout {
  font-size: 25px;
  text-decoration: none;
  color: #333333;
}

.login {
  font-size: 25px;
  text-decoration: none;
  line-height: 25px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  font-size: 25px;
  text-decoration: none;
  color: #333333;
}