.search-bar-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.search-form {
  width: 65vw;
  height: 6vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 6vh;
  padding-left: 10px;
}

.search-button {
  width: 6vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}