.search_form {
  width: 65vw;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.search_form_main {
  width: 65vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key_word_sub {
  width: 300px;
}