.second-header {
  min-width: 800px;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 450px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.page_btn_list {
  list-style: none;
  display: flex;
  align-items: center;
}

.page_destroy {
  margin-left: 50px;
}