* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.second-header {
  width: 100%;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-header_main {
  width: 540px;
  height: 60px;
  margin-left: calc(50vw - 270px);
}

.second-logo {
  width: 100%;
  height: 100%;
}

.page_btn_list {
  list-style: none;
  margin-right: 10vw;
  flex-wrap: wrap;
}

.page_btn {
  margin-left: 100px;
  font-size: 20px;
  width: fit-content;
  display: flex;
}

.favorite_break {
  margin-right: 200px;
  font-size: 20px;
}

.favorite_entry {
  margin-right: 200px;
  font-size: 20px;
}