<footer class='second-fotter'>
  <span id="back">
    <a href="" class="second-footer_sub">
      <%= image_tag asset_path("ecalbt002_001.png"), size: "200x40", class: "second-footer-logo" %>
    </a>
  </span>
</footer>