a {
  text-decoration: none;
}

.main {
  background-color: #f8f8f8;
}

.title-contents {
  background-image: image-url("syoukeinomiti.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.title-contents-one {
  width: 100%;
  padding: 3vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.title-contents-two {
  width: 100%;
  padding: 3vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.newest-img {
  background-image: image-url('_r_ribbon0425_s256_ribbon0425_4.png');
  background-size: contain;
  width: 400px;
  height: 99px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 30px;
}

.newest {
  margin-left: 100px;
  line-height: 30px;
  font-size: 30px;
  padding: 0 0 10px 0;
}

.travel-img-content {
  width: 100%;
  height: 300px;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.travel-img  {
  width: 100%;
  height: 100%;
  border-radius: 180px;
  padding: 5px;
  object-fit: cover;
}

.list {
  list-style: none;
  width: 300px;
  height: 350px;
  margin: 0 5vw 70px 5vw;
}

.travel-title {
  font-size: 18px;
  font-weight: 400;
}

.travel-gone {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.travel-destination {
  border: 2px solid #f2f2f2;
  background-color: #000000;
  color: #ffffff;
  padding: 3px;
}

.travel-time {
  margin-left: 5px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  margin-bottom: 30px;
}