.travel-contents {
  width: 50vw;
  border: 1px solid #ff9e9e;
  margin: 0px auto;
  text-align: center;
  padding: 0 0 20px 0;
}

.travel-header-sub {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: #ff9e9e;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.travel_text {
  width: 450px;
  height: 30px;
  line-height: 30px;
}

.time-select-box {
  height: 30px;
  width: 160px;
  background-color: #f5f5f5;
  padding-left: 20px;
  border: 1px solid #000000;
}

.select-box {
  height: 30px;
  width: 345px;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.travel-content {
  margin-top: 15px;
}

.sell-btn {
  background: #fff099;
  border: 1px solid #e2c417;
  color: #000000;
  width: 50%;
  height: 50px;
  font-size: 14px;
  margin-top: 4vh;
  border-radius: 15px;
}

.tag-btn {
  height: 30px;
  width: 450px;
}