.tag-search {
  display: flex;
}

.tag-pagination {
  width: 100%;
  margin: auto;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}

.tag-search-result {
  display: flex;
  height: 45px;
  margin: 50px 0 30px 10px;
  line-height: 30px;
  font-size: 30px;
  border-bottom: 2px solid #000000;
  border-left: 3px double #000000;
  padding: 0 0 15px 15px;
}

.tag_lists_result {
width: fit-content;
height: fit-content;
border: 1px solid #000000;
border-radius: 15px;
background-color: #f2f2f2;
margin: 0 15px;
padding: 0 5px;
}