* {
  box-sizing: border-box;
}

.show_content_top {
  height: 600px;
  margin: 40px 0;
}

.show_photo {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.show_photo_sub {
  width: 100%;
  display: block;
  margin: 0 auto;
}

img.show_photo_sub {
  width: 50%;
}

.travel_comment_tag {
  display: flex;
}

.travel_title_show {
  padding-left: 20px;
  font-size: 30px;
  border-bottom: 2px solid #000000;
  border-left: 3px double #000000;
}

.travel_comments {
  width: 50vw;
}

.travel_comment {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #000000;
  border-left: 3px double #000000;
}

.travel_times, .travel_time_main {
  line-height: 20px;
  font-size: 20px;
}

.travel-des {
  display: flex;
  align-items: center;
  margin-left: 200px;
  border-left: 3px double #000000;
  padding-left: 20px;
}

.comment-edit-btn_main {
  margin: 20px;
  text-align: right;
}

.comment-edit-btn {
  font-size: 20px;
  line-height: 20px;
  width: fit-content;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
}

.container_size {
  height: 700px;
  width: 100%;
  padding: 50px;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background: rgb(193, 193, 193);
  border-radius: 100%;
  cursor: pointer;
}

.btn:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
}
.btn-prev {
  left: 0;
}
.btn-prev::before {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn-next {
  right: 0;
}
.btn-next::before {
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.slider-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}

.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}

.slider-item {
  list-style: none;
  min-width: 100%;
  height: 100%;
}

.impression_image {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.travel-comments {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.travel-comment {
  margin: 30px 0;
}

.travel-comments_sub {
  font-size: 20px;
  font-weight: 400;
  height: 500px;
  width: 50vw;
  border-radius: 15px;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.impression {
  height: 400px;
  width: 50vw;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 20px 45px;
}

.impression::placeholder {
  height: 400px;
  line-height: 400px;
  text-align: center;
  font-size: 20px;
}

.image_input_btn {
  display: block;
  background-color: #59b300;
  width: 180px;
  height: 60px;
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #59b300; 
  font-size: 18pt;
  transition    : .3s;
}

.image_input_btn:hover {
  box-shadow    : none;
  color         : #59b300;
  background    : #ffffff;
}

.image_form{
  display: none;
}

.line-it-button {
  margin: 5px 0 0 10vw;
}

.page_btn_lists {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.page_btn_list {
  list-style: none;
  margin-right: 3vw;
  display: flex;
  height: 20px;
}

.page_btn {
  margin-left: 30px;
  font-size: 20px;
  line-height: 20px;
  width: fit-content;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
}

.favorite_btn {
  font-size: 20px;
  width: fit-content;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 6vw 0;
}

.show_tag_lists {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
}

.impression_submit_btn {
  display       : inline-block;
  border-radius : 20px;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #59b300;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  border        : 2px solid #59b300; 
}

.impression_submit_btn:hover {
  box-shadow    : none;
  color         : #59b300;
  background    : #ffffff;
}

.btn-lists {
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.no_post {
  text-align: center;
}