* {
  box-sizing: border-box;
}

.show_content_top {
  height: 500px;
  margin: 40px 0;
}

.show_photo {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.show_photo_sub {
  width: 100%;
  display: block;
  margin: 0 auto;
}

img.show_photo_sub {
  width: 50%;
}

.show_tags_tag {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.show_tags {
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.travel_title_show {
  padding-left: 20px;
  font-size: 30px;
  border-bottom: 2px solid #000000;
  border-left: 3px double #000000;
}

.travel_comment {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #000000;
  border-left: 3px double #000000;
}

.travel_times, .travel_time_main {
  line-height: 20px;
  font-size: 20px;
}

.travel-des {
  display: flex;
  align-items: center;
  margin-left: 200px;
  border-left: 3px double #000000;
  padding-left: 20px;
}

.container_size {
  height: 500px;
}

.container {
  width: 60%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background: rgb(193, 193, 193);
  border-radius: 100%;
  cursor: pointer;
}

.btn:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
}
.btn-prev {
  left: 0;
}
.btn-prev::before {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn-next {
  right: 0;
}
.btn-next::before {
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.slider-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}

.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}

.slider-item {
  list-style: none;
  min-width: 100%;
  height: 100%;
}

.impression_image {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.travel-comments {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.travel-comments_sub {
  font-size: 20px;
  font-weight: 400;
  height: 500px;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}
