

.show_contents {
  padding: 50px;
}

img.travel-photo_sub {
  width: 350px;
}

.travel-photo_sub {
  display: block;
  margin: 0 auto;
}

.travel_title_show {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
}

.travel_times {
  font-size: 25px;
  line-height: 35px;
  margin: 0 0 15px 0;
  font-weight: 600;
  background-color: red;
  text-align: center;
}

img.impression_image {
  width: 50%;
}

.travel_comment {
  height: 100vh;
  margin: 0 50px;
}

.travel_time_main {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid red;
}

.container {
  width: 80%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background: rgb(193, 193, 193);
  border-radius: 100%;
  cursor: pointer;
}

.btn:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
}
.btn-prev {
  left: 0;
}
.btn-prev::before {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn-next {
  right: 0;
}
.btn-next::before {
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.slider-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}

.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}

.slider-item {
  list-style: none;
  min-width: 100%;
}

.impression_image {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.travel-comments {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.travel-comments_sub {
  font-size: 20px;
  font-weight: 400;
}