.my-icon {
  width: 150px;
  height: 150px;
  background-color: #A9CEEC;
  border: 1px solid #A9CEEC;
  border-radius: 180px;
}

img.my-icon_s {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 180px;
}

.sample-user-icon {
  background-color: #a9ceec;
  border: 1px solid #A9CEEC;
}

img.sample-user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 180px;
}